@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@400;500;600;700&family=Plus+Jakarta+Sans:wght@500;800&display=swap");
*, *::before, *::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(25, 25, 25);
  font-family: "Lexend", sans-serif;
  color: rgb(255, 255, 255);
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
  line-height: 1.4;
}
.container h1, .container h2, .container h3, .container h4, .container h5, .container h6 {
  color: rgb(255, 255, 255);
}
.container li {
  list-style-type: none;
}
.container a {
  text-decoration: none;
}
.container img {
  max-width: 100%;
  display: block;
}
.container span {
  color: rgb(51, 85, 255);
}
.container svg {
  max-width: 15%;
}

form div {
  text-align: center;
}
form label {
  display: block;
  margin: 1rem 0;
}
form input, form button {
  padding: 0.7rem;
  width: 100%;
  border: none;
  border-radius: 8px;
}
form button {
  background-color: rgb(51, 85, 255);
  color: rgb(255, 255, 255);
  font-weight: bold;
  margin-top: 1rem;
}

a {
  color: rgb(255, 255, 255);
}
a div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 0.6rem;
  width: 100%;
  border: 1px solid rgb(179, 179, 179);
  border-radius: 8px;
}